In [16]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import warnings
from matplotlib.pylab import mpl

warnings.filterwarnings("ignore")
mpl.rcParams['axes.unicode_minus'] = False  #显示负号
plt.rcParams['xtick.direction'] = 'in'
plt.rcParams['ytick.direction'] = 'in'

In [18]:
%matplotlib qt

In [2]:
os.chdir(r'C:\Users\Yuan\Desktop')

### Predict Result

In [10]:
allFold = []
for fold in ['0', '1', '2', '3']:
    fold_tmp = []
    for idx, i in enumerate(os.listdir(fold)):
        data_tmp = pd.read_csv(os.path.join(fold, i))
        fold_tmp = np.concatenate([fold_tmp, np.array(data_tmp)[:, 1:]], axis=0) if idx else np.array(data_tmp)[:, 1:]
    allFold.append(fold_tmp)

In [28]:
color = ['blue', 'black', 'green', 'purple']
fig, axes = plt.subplots(4, 1, sharex=True, figsize=(10, 8))
for idx, ax in enumerate(axes):
    ax.scatter(allFold[idx][:, 0], allFold[idx][:, 1], color=color[idx])
    ax.axhline(0.88, 0, 800000, linewidth=1, color="pink")
    ax.grid()

### Dislocation Dataset

In [37]:
df.head()

   0  1  2  labels
0  1  0  0       1
1  0  1  0       2
2  0  1  0       2
3  0  1  0       2
4  0  1  0       2

In [36]:
df['labels'] = [np.argmax(np.array(df.iloc[i, :])) + 1 for i in range(df.count()[0])]

In [3]:
df_1 = pd.read_csv('Ni_electrolysis_chan2.csv')
df_2 = pd.read_csv('Ni_electrolysis_chan3.csv')
df_3 = pd.read_csv('Ni_pure_chan2.csv')
df_4 = pd.read_csv('Ni_pure_chan3.csv')

In [4]:
new = pd.concat((df_3, df_4), axis=0)
new.to_csv('Ni_pure.csv', index=None)

In [22]:
df_1 = pd.read_csv('Nano_Ni_1_cnts_4_crack.csv')
df_2 = pd.read_csv('Nano_Ni_2_cnts_4_crack.csv')

In [40]:
df_1 = pd.read_csv('Ni_twinning.csv')
df_2 = pd.read_csv('Ni_crack.csv')
df_2['Pop'] = 0
new = pd.concat((df_1[df_1['Pop'] == 1], df_2), axis=0)
new.to_csv('Ni_twinning&crack.csv', index=None)

In [25]:
new = pd.concat((df_1, df_2), axis=0)
new.to_csv('Ni_crack.csv', index=None)

In [16]:
new['Pop'] = (~new['Pop'].astype(bool)).astype(int)

In [39]:
new.head()

,Amp,RiseT,Dur,Eny,RMS,Counts,PeakFreq,PackEny1,PackEny2,PackEny3,PackEny4,PackEny5,PackEny6,PackEny7,PackEny8,Pop
0,23.225150,0.9,28.00,0.320144,2.622939,5.0,570409.982175,0.988677,0.009732,0.000707,0.000229,0.000141,0.000187,0.000144,0.000183,1
1,59.413175,1.3,34.50,1.349727,2.622939,12.0,578871.201158,0.996337,0.003170,0.000258,0.000048,0.000039,0.000067,0.000036,0.000045,1
2,479.086238,5.8,226.60,99.890003,2.619399,81.0,577983.675270,0.999665,0.000313,0.000005,0.000004,0.000003,0.000004,0.000003,0.000003,1
3,69.135331,1.2,20.85,1.144034,2.622939,4.0,143540.669856,0.989977,0.009325,0.000507,0.000044,0.000031,0.000072,0.000020,0.000022,1
5,25.925749,3.8,27.65,0.435727,2.622939,4.0,577617.328520,0.996548,0.002659,0.000193,0.000125,0.000106,0.000129,0.000127,0.000113,1

In [64]:
def standardize(X):
    m, n = X.shape
    for j in range(n):
        features = X[:,j]
        meanVal = features.mean(axis=0)
        std = features.std(axis=0)
        if std != 0:
            X[:, j] = (features-meanVal)/std
        else:
            X[:, j] = 0
    return X

In [66]:
standardize(new.values).shape

(1576, 16)

In [3]:
os.chdir(r'C:\Users\Yuan\Desktop\Ni dataset\Ni_dis0_detw1_tang2')

In [4]:
df_1 = pd.read_csv('Ni_electrolysis_chan2_(de-)tangle.csv')
df_2 = pd.read_csv('Ni_electrolysis_chan2_detwinning.csv')
df_3 = pd.read_csv('Ni_electrolysis_chan2_dislocation.csv')
df_4 = pd.read_csv('Ni_electrolysis_chan3_(de-)tangle.csv')
df_5 = pd.read_csv('Ni_electrolysis_chan3_detwinning.csv')
df_6 = pd.read_csv('Ni_electrolysis_chan3_dislocation.csv')
df_7 = pd.read_csv('Ni_pure.csv')
df_8 = pd.read_csv('Ni_electrolysis_noise.csv')

In [5]:
new = pd.concat((df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8), axis=0)
new.to_csv('Coarse Ni.csv', index=None)

In [12]:
new['Pop'].value_counts()

3.0    772
1.0    701
0.0    630
2.0    245
Name: Pop, dtype: int64

In [17]:
with open(r'H:\PAC\316L-1.5-z8-0.01-AE-3 sensor-Vallen&PAC-20210302\F_316L-1.5-z8-0.01-AE-3 sensor-Vallen&PAC-20210302.TXT' , 'r') as f:
    data = np.array([list(i.strip("\n").split()) for i in f.readlines()[8:]])

In [28]:
Amp = data[:, 9].astype(int)
Eny = data[:, 7].astype(int)
absEny = data[:, -2].astype(float)

In [31]:
df = pd.read_csv('Coarse Ni.csv')

In [36]:
df[df['Pop'] == 0]

,Amp,RiseT,Dur,Eny,RMS,Counts,PeakFreq,PackEny1,PackEny2,PackEny3,PackEny4,PackEny5,PackEny6,PackEny7,PackEny8,Pop
303,68.055091,109.20,235.65,7.712204,2.615860,41.0,131523.122613,0.999073,0.000639,0.000068,0.000050,0.000047,0.000043,0.000042,0.000039,0.0
304,19.984432,87.85,92.00,0.608793,2.622939,4.0,619228.680065,0.994943,0.003240,0.000364,0.000380,0.000315,0.000253,0.000275,0.000231,0.0
305,62.653894,45.30,449.10,6.292918,2.619399,74.0,418568.406991,0.998525,0.000823,0.000133,0.000109,0.000108,0.000104,0.000100,0.000097,0.0
306,94.520960,23.95,424.85,10.588679,2.622939,83.0,609555.189456,0.998706,0.000924,0.000077,0.000067,0.000058,0.000059,0.000054,0.000056,0.0
307,34.567665,67.95,171.10,1.998183,2.622939,26.0,420683.610868,0.997795,0.001350,0.000176,0.000161,0.000139,0.000117,0.000128,0.000135,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,24.305390,14.45,76.45,0.718798,2.502588,7.0,300653.594771,0.963138,0.035133,0.000832,0.000197,0.000198,0.000213,0.000120,0.000170,0.0
1571,23.225150,39.70,58.00,0.710419,2.513208,6.0,189328.743546,0.981731,0.017321,0.000301,0.000154,0.000131,0.000171,0.000094,0.000096,0.0
1572,83.718565,36.80,251.20,15.762733,2.516747,43.0,195063.694268,0.972291,0.027410,0.000151,0.000045,0.000032,0.000027,0.000024,0.000021,0.0
1573,191.202400,143.40,645.75,96.124734,2.516747,83.0,193558.377207,0.993227,0.006661,0.000056,0.000016,0.000011,0.000012,0.000009,0.000009,0.0
1574,26.465869,46.45,112.45,1.835398,2.516747,13.0,204444.444444,0.988777,0.010493,0.000228,0.000092,0.000112,0.000115,0.000099,0.000085,0.0

In [34]:
df[df['Pop'] == 0].to_csv('Coarse Ni_dislocation.csv', index=None)